* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color:rgba(206, 189, 189, 0.4);
}


.bg-black {
    background-color: #d0b8ac;
}


.headname{
    font-size: 40px;
}
.cnav {
    height:60px;
}

#logo{
    width: 80px;
    height: 45px;
    border-radius: none;
}

#logo img{
    padding:0;
}

.title{
    font-family: 'Flavors', cursive;
    text-transform: uppercase;
    color:#000;
    font-size: 40px;
    font-weight: bolder;
}

.cnavbrand { /* .navbar-brand*/
    padding: 6px 20px;
    font-size: 16px;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    text-align: center;
    align-items: center;
    font-weight:400; 
}



/* styling search bar */
.search input[type=text]{
    width:280px;
    height:25px;
    border-radius:25px;
    border: none;
    text-align: center;
    padding: 0px 6px;
    border: none;
    border-bottom: 2px solid #aaa;
    background: transparent;
    outline: none;
}
        
.search{
    float:right;
    margin:7px;
}
        
.search button{
    background-color: #d0b8ac;
    color: #f2f2f2;
    padding: 5px 6px;
    margin-right: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;

}

.item1:hover {
    background-color: #9E9E9E;
}
.search:hover{
    background-color: #d0b8ac;
}


.nav-link {
    /* padding-left: 445px;    */

}

.nav-col{
    color:#fff;
    /* padding-left: 30px; */
}
.navbar-collapse.collapse.in {
    display: block !important;
    
}

.collapse {
    color: #fff;
}

.fa {
    padding-right: 10px;

}
.fa-shopping-cart, .fa-sign-in, .fa-group{
    font-size: 20px;
    padding-left: 5px;
    color: #fff;
}

.dropdown-toggle {
    color: gray;
    padding: 3px 10px;
    position: absolute;
}

.dropdown-toggle:hover {
    color: #fff;
}

.dropdown-menu {
    margin-left: 15px;
    width: 120px;
    margin-top: 0px; 
}

.dropdown-item:hover {
    background-color: #000;
    color: #fff;
}

@media (max-width: 576px) {
    .nav-item {
        width: 100%;
        text-align: left;
    }

}

.address-content{
    font-size:13px;
}
.container{
    margin-top: 10%;
}

.card{
    height:100%;
}

.content-aboutme h1{
    font-size: 26px;
}

.content-aboutme span{
    font-size:13px;
}

.collections-content p{
    
    font-size:13px;
}

.badge{
    
    font-size:11px;
    font-weight:600;
}